@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-red-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-600;
}

::selection {
  @apply bg-[rgba(249,6,6,0.05)] text-[#f90606] dark:bg-[rgba(249,6,6,0.2)] dark:text-[#ff4c4c];
}

* {
  text-rendering: geometricprecision;
  -webkit-tap-highlight-color: transparent;
}
